.solution {
    @media (min-width: @mobile-width) {
        color: #FFFFFF;
        background: #2C479D;
        padding-bottom: 49px;
        padding-top: 49px;
    }
    @media (min-width:  @tablet-width) {
        padding-bottom: 0;
        padding-top: 79px;
    }

    @media (min-width: @desktop-width) {
        padding-bottom: 0;
        padding-top: 148px;
    }
}

.solution-text {
    max-width: 1305px;
    display: block;
    margin: 0 auto;
}

.solution-option__title {
    @media (min-width: @mobile-width) {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 105%;
        width: 300px;
    }
   
    @media (min-width: @desktop-width) {
        font-size: 56px;
        width: 900px;
        margin-top: 0;
    }
}

.solution-options-description {
    @media (min-width: @mobile-width) {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;
        width: calc(94% - 2px);
    }

    @media (min-width: @desktop-width) {
        font-size: 24px;
    }
}

.solution-options {
    display: flex;
    align-items: flex-start;
    color: #0F1D4A;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
    margin: 0;
    @media (min-width:  @tablet-width) {
        padding-bottom: 79px;
    }
    @media (min-width: @desktop-width) {
        padding-bottom: 149px;
    }
}

.options {
    @media (min-width: @mobile-width) {
        width: calc(96% - 30px);
        background: #FFFFFF;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        padding-left: 13px;
        text-align: initial;
        list-style-type: none;
   
    }
    @media (min-width: @tablet-width) {
        width: calc(47% - 43px);
        background: #FFFFFF;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        text-align: start;
        list-style-type: none;
        height: 130px;
    }

    @media (min-width: @desktop-width) {
        width: calc(32% - 62px);
        background: #FFFFFF;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        text-align: start;
        list-style-type: none;
        height: 262px;
    }
}


.options__title {
    @media (min-width: @mobile-width) {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 110%;
    }

    @media (min-width: @desktop-width) {
        font-size: 29px;
    }
}

.options__description {
    @media (min-width: @mobile-width) {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 139.5%;
        margin: 0;
    }
    @media (min-width: @desktop-width) {
    font-size: 19px;
    text-align: start;
    }
}