.transact-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 105%;
    margin-bottom: 29px;
    margin-top: 0;

    @media (max-width: @tablet-width) {
        font-size: 28px;
    }
}

.transact-text {
    margin: 0;
}

.transact {


    @media (min-width: @mobile-width) {
        padding: 24px;
    }

    @media (min-width: @desktop-width) {
        max-width: 1305px;
        padding-bottom: 148px;
        padding-top: 140px;
        display: block;
        margin: 0 auto;
    }
}

.transact-description-block {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
    margin-top: 44px;

    @media (max-width: @tablet-width) {
        gap: 3px;
    }
}

.transact-text {
    @media (max-width: @tablet-width) {
        font-size: 15px;
    }
}

.transact-description {
    @media (min-width: @mobile-width) {
        background: #F7F9FC;
        width: 153px;
        height: 156px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 22px;
        padding-bottom: 16px;
        list-style-type: none;
    }

    @media (min-width: @tablet-width) {
        width: 335px;
        height: 100px;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }

    @media (min-width: @desktop-width) {
        width: 410px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 100px;
    }

}

.transact-img {


    @media (max-width: @tablet-width) {
        width: 24px;
        height: 24px;
        padding-left: 21px;
    }

    @media (min-width: @desktop-width) {
        width: 48px;
        height: 48px;
        padding-left: 32px;
        position: relative;
        bottom: 13px;
    }
}

.transact-paragraph {
    @media (min-width: @mobile-width) {
        padding-left: 15px;
      
    }

    @media (min-width: @tablet-width) {
        padding-left: 15px;
      
    }
    @media (min-width: @desktop-width) {
        padding-left: 24px;
    }
}



